<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            max-width: 300px;
            margin: auto;
            text-align: center;
            font-family: arial;
        }

    </style>
</head>

<body>
    <h2 style="text-align:center">Star Wars Profile Card</h2>
    <%data["results"].forEach(function(result){%>
    <div class="card">
        <h1>
            <%=result["name"]%>
        </h1>
        <ul style="text-align:left">
            <li>
                Height :
                <%=result["height"]%>
            </li>
            <li>
                Mass :
                <%=result["massx"]%>
            </li>
            <li>
                Skin Color:
                <%=result["skin_color"]%>
            </li>
            <li>
                Eye Color:
                <%=result["eye_color"]%>
            </li>
            <li>
                Gender:
                <%=result["gender"]%>
            </li>
            <li>
                Birth Year:
                <%=result["birth_year"]%>
            </li>
        </ul>
    </div>
    <%})%>
    <div class="card">
        <a href="/"><button style="font-size: 13pt">Go to Search Page</button></a>
    </div>
</body>

</html>
